@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
html {
box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .title {
  font-size: 38px;
  padding: 0px 10px;
  padding-top: 20px;
  margin: 0;
} */

a {
  /* cursor: default; */
  color: inherit;
  text-decoration: none;
}

/* img {
  max-width: 100%;
} */

body {
  font-family: 'Roboto',sans-serif;
  /* background: #1A1A1C; */
  font-size: 13px;
  /* overflow-x: hidden; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





header {
    // padding: 50px;
    // padding-top: 34px;
    // margin-top: 34px;
//   z-index: 10;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
//    width: 50px;
    width: 346px;
    margin: 30px auto;
    // border: 1px solid rgb(140, 219, 116);

    .menu {
        // background: #F7F7F7;
        padding:1em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding-top: 1em;
        padding-right: 1em;
    }
    .gamburger {
      display: none;
    }
}


.topimg {
    padding: 0px 50px 0px 50px;
    // z-index: -20;
    margin-top: 52px;

}
.topimg2 {
    // padding: 0px 42px 0px 50px;
    // z-index: -20;
    padding: 0px 54px 0px 0px;
    margin-top: -316px;
    margin-left: 52px;
    z-index: 999;


}

.page {
    // height: 844px;
    // height: 100vh;
    width: 390px;
    // border: 1px solid #ccc;
    // border-radius: 25px;
    display: flex;
    flex-direction: column;
    // overflow-y: hidden;
    overflow-x: hidden;
    
    
    &:hover {
      // overflow-y: scroll;
    }
}

.btnspace {
  width: 346px;
  margin: 0 auto;
}

main {
    // width: 346px;
    // margin: 0px auto;
    background: #F7F7F7;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    min-height: 100px;
    margin-top: -45px;
    padding-top: 26px;
    .buttons {
      display: flex;
      
      padding: 0px;
      padding-bottom: 0;
      padding-top: 0;
      .button {
        flex: 1;
        height: 112px;
        padding: 15px;
        border-radius: 12px;
        background: #fff;
        // margin: 11px;
        margin: 0px 5px 10px 5px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        color: #6F6F6F;
        box-shadow: 2px 0px 20px rgba($color: #C8C5CB, $alpha: 0.25);
      }
      .button:hover {
        background: linear-gradient(180deg, #C04679 0%, #F6589A 100%);
        color: #FFF1D7;
        cursor: pointer;
      }
    }
}
.mid {
  padding: 24px 0px 15px 0px;
  h2 {
    font-size: 1,3846rem;
    color: #3F3776;
    font-weight: bold;
    margin-left: 16px;
    margin-bottom: 15px;
  }
}
.corporation {
  display: flex;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
  
  .logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-right: 14px;
  }
  .info {
    flex: 1;
    
    .title {
      font-weight: bold;
      font-size: 1,0769rem;
      padding-bottom: 7px;
    }
    .location {
      font-weight: bold;
      color: #A0A0A0;
      padding-bottom: 10px;
    }
    .beds {
      font-weight: medium;
      color: #856FFD;
      font-size: 0,9231rem;
    }
  }
  &.alt {
    .info {
      .beds {
        color: #FFA10F;
      }
    }
  }

}

.corporation:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #C04679 0%, #F6589A 100%);
  .info {
    flex: 1;
    
    .title {
      color: #fff;
    }
    .location {
      color: #FFF1D7;
    }
    .beds {
      color: #FFF598;
    }
  }
  &.alt {
    .info {
      .beds {
        color: #FFF598;
      }
    }
  }

}

.footer {
  height: 50px;
  // background-color: #eeeeee;
  font-weight: medium;
  color: #34116D;
  font-size: 0,9231rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  padding-top: 20px;
  margin-top: auto;
}

// @media (max-width: 320px) {
//   .page {
//     width: 320px;
//   }
//   header {
//     width: 220px;
//   }

// }
.bgf {
  display: block;
  height: 50px;
  background-color: #eeeeee;
}
